<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCC.DAL.Properties.Settings.db_Tcc" connectionString="server=localhost;user id=root;password=1212;persistsecurityinfo=True;database=db_tcc"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>